/* ======== FONTS ======== */

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:ital,wght@0,100..900;1,100..900&family=Noto+Serif:ital,wght@0,100..900;1,100..900&family=Playfair+Display:ital,wght@0,400..900;1,400..900&family=Playfair:ital,opsz,wght@0,5..1200,300..900;1,5..1200,300..900&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');

/* =================================================== */
/* ================== GENERAL ITEMS ================== */
/* =================================================== */

h1 {
  font-size: 36px;
  font-family: "Playfair Display";
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

h2 {
  font-family: "Playfair Display";
  font-size: 28px;
  font-weight: 900;
  margin-top: 10px;
  margin-bottom: 10px;
  font-weight: 500;
}

h3 {
  font-family: "Playfair Display";
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
}

h4 {
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 600;
  margin-top: 10px;
  margin-bottom: 10px;
  text-transform: uppercase;
}

a {
  text-decoration: none;
}

a:visited {
  text-decoration: none;
}

body {
  padding: 0px;
  margin:0px;
}

/* =================================================== */
/* ====================== HEADER ===================== */
/* =================================================== */

header {
  display: flex;
  background-color: #141414;
  height: 50px;
  align-items: center;
  font-family: "Noto Sans";
  font-size: 16px;
  font-weight: 400;
  text-transform: uppercase;
  transition: top 0.3s;
  z-index: 999;
}

header h1 {
  padding-left: 50px;
  color:#fafafa;
  font-size: 20px;
  font-family: "Noto Sans";
}

header nav {
    display: flex;
    margin-left: auto;
    justify-content: center;
    align-items: center;
    }

header nav a {
      color: #fafafa;
      padding-left: 20px;
      padding-right: 20px;
      font-weight: 600;
    }

header nav a:hover {
  color: grey;
}

#header {
  position: fixed;
  top: 0;
  width: 100%;
  z-index: 999;
  transition: top 0.3s;
}

#menu-icon {
  display: none;
  width: 30px;
  height: 30px;
  overflow: hidden;
  object-fit: contain;
/*  border:1px solid red;*/
  margin-left: 10px;
}

#open_contact {
  cursor: pointer;
}

#change-language {
  display: flex;
  gap: 10px;
  margin-left: 20px;
  padding-right: 50px;
  justify-content: center;
  align-items: center;
}

#change-language img {
  width: 20px;
  height: 20px;
}

#language_toggle {
  padding: 0px;
  cursor: pointer;
}

/* =================================================== */
/* ==================== PAGE BODY ==================== */
/* =================================================== */

#page-body {
  font-family: "Playfair", sans-serif;
  padding-left: 10%;
  padding-right: 10%;
  font-weight: 600;
  padding-top: 60px;
}

/* =================================================== */
/* =================== PRESENTATION ================== */
/* =================================================== */

#presentation {
  display: flex;
  gap: 50px;
  padding-bottom: 20px;
}

#presentation hr {
  width: 50%;
  height: 1px;
  background-color: lightgray;
  border: none;
  margin-left: 0;
}

#presentation-content {
  width: 60%;
}

#presentation_text {
  width: 100%;
  padding-top: 20px;
  padding-bottom: 20px;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 500;
  color: #303030;
}

#pres-img-std {
  padding-top: 20px;
  width: 40%;
  height: 250px;
  overflow: hidden;
  object-fit: cover;
}

#pres-img-mobile {
  display: none;
  width: 200px;
  height: 200px;
  overflow: hidden;
  object-fit: cover;
}

#presentation_links {
    display: flex;
    gap: 20px;
    align-items: center;
  }

#links_networks_black {
  color: #303030;
}

#links_networks_black:hover {
  color: lightgrey;
}

/* =================================================== */
/* ====================== SKILLS ===================== */
/* =================================================== */

#skills {
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 20px;
}

#skills-tech-pers {
  display: flex;
  gap: 20px;
}

#skills-tech-pers a {
  padding-right: 10px;
}

#skills-text {
  width: 50%;
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  padding-top: 20px;
  padding-bottom: 20px;
  margin-right: 40%;
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 700;
  color: #303030;
}

#skill {
  width: fit-content;
  display: inline-block;
  white-space: nowrap;
}

#skills-button {
  display: flex;
  gap: 20px;
}

.click-skills {
  font-family: "Noto Sans";
  font-weight: 500;
  font-size: 14px;
  color: #303030;
  cursor: pointer;
}

.click-skills:hover {
  color: lightgrey;
}

/* =================================================== */
/* ===================== PROJECTS ==================== */
/* =================================================== */

#projects {
  border-bottom: 1px solid lightgray;
  padding-top: 10px;
  padding-bottom: 20px;
  height: fit-content;
}

#projects h2 {
  padding-bottom: 20px;
}

#display-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#display-more-projects {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
  justify-content: center;
}

#project-presentation {
  width: 350px;
  height: fit-content;
}

#project-skills {
  display: flex;
  gap: 20px;
  width: fit-content;
  padding-right: 10px;
  padding-bottom: 10px;
  border-bottom: 1px solid lightgray;
}

#project-presentation img {
  aspect-ratio: 4 / 2.5;
  width: 100%;
  height: 60%;
  max-height: 60%;
  object-fit: cover;
  overflow: hidden;
} 

#project-presentation img:hover {
  filter: brightness(85%) drop-shadow(0 0 5px rgba(0, 0, 0, 0.5));
} 

#project-presentation h5 {
  height: 5%;
}

#project-presentation p {
  height: 35%;
  height: fit-content;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 500;
  color: #303030;
}

#projects-dropdown {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 10px;
}

#dropdown_button {
  max-width: 200px;
  width: fit-content;
  height: fit-content;
  background-color: #fafafa;
  color: #4f4f4f;
  border-radius: 20px;
  border: 1px solid #4f4f4f;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 500;
}

#dropdown_button:hover {
  background-color: #303030;
  color: white;
  cursor: pointer;
}

/* =================================================== */
/* ===================== CONTACTS ==================== */
/* =================================================== */

#contacts {
  padding-top: 10px;
  padding-bottom: 30px;
}

#sup-contacts-display {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#contacts-display {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
  width: fit-content;
  justify-content: center;
  align-items: center;
}

#contact-element {
  width: 250px;
  display: flex;
  gap: 5px;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 500;
}

#contact-element img {
  width: 12x;
  height: 12px;
}

#contact_networks {
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  gap: 30px;
}

/* =================================================== */
/* ===================== BUTTONS ===================== */
/* =================================================== */

.black-button {
  max-width: 200px;
  width: fit-content;
  height: fit-content;
  background-color: #303030;
  color: white;
  border-radius: 20px;
  border: 1px solid #4f4f4f;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 500;
}

.black-button:hover {
  background-color: #fafafa;
  color: #4f4f4f;
  border: 1px solid #4f4f4f;
}

.white-button {
  max-width: 200px;
  width: fit-content;
  height: fit-content;
  background-color: #fafafa;
  color: #4f4f4f;
  border-radius: 20px;
  border: 1px solid #4f4f4f;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-left: 20px;
  padding-right: 20px;
  padding-top: 7px;
  padding-bottom: 7px;
  font-family: "Noto Sans";
  font-size: 14px;
  font-weight: 500;
}

.white-button:hover {
  background-color: #303030;
  color: white;
}

.project-skill-button {
  width: fit-content;
  height: fit-content;
  color: #4f4f4f;
  font-weight: 700;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 5px;
  padding-bottom: 5px;
  font-family: "Noto Sans";
  font-size: 12px;
  font-weight: 500;
}

/* =================================================== */
/* ================== PROJECTS PAGE ================== */
/* =================================================== */

#hr-pp {
  width: 80%;
  height: 1px;
  background-color: lightgray;
  border: none;
  margin-left: 0;
}

#hr-pp-bot {
  width: 100%;
  height: 1px;
  background-color: lightgray;
  border: none;
  margin-left: 0;
  margin-top: 40px;
  margin-bottom: 40px;
}

#p_pp {
  width: 70%;
  height: fit-content;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 500;
  color: #303030;
  margin-top: 20px;
}

/* =================================================== */
/* =============== ABOUT - PRESENTATION ============== */
/* =================================================== */

#about-presentation {
  display: flex;
  flex-direction: column;
  margin-top: 20px;
  padding-bottom: 20px;
  width:60%;
}

#about_presentation_text {
  width: 100%;
  font-family: "Playfair Display";
  font-size: 14px;
  font-weight: 500;
  color: #303030;
}

/* =================================================== */
/* ================ ABOUT - EXPERIENCE =============== */
/* =================================================== */

#about-experience {
  border-top: 1px solid lightgray;
  border-bottom: 1px solid lightgray;
  padding-bottom: 20px;
}

#about-list-experience {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
  align-items: center;
}

#about-experience-description {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 300px;
  gap: 10px;
  padding-bottom: 20px;
}

#about-experience-description img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

.about-experience-description-date {
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans";
  font-size: 13px;
}

.about-experience-description-text {
  text-align: center;
  padding-bottom: 10px;
}

#about-experience-description-skills {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans";
  font-size: 14px;
  gap: 15px;
}

/* =================================================== */
/* ================== ABOUT - SKILLS ================= */
/* =================================================== */

#about-skills {
  padding-top: 20px;
  border-bottom: 1px solid lightgray;
}

#about-skills a {
  color: #303030;
}

#about-skills a:hover {
  color: lightgray;
}

#about-list-skills {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  padding-bottom: 20px;
  padding-top: 20px;
  gap: 40px;
}

#about-skill-description {
  width: 150px;
  height: 150px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

#about-skill-description img {
  width: 100px;
  height: 100px;
  object-fit: contain;
}

/* =================================================== */
/* ================ ABOUT - EDUCATION ================ */
/* =================================================== */

#about-education {
  border-bottom: 1px solid lightgray;
}

#about-list-education {
  display: flex;
  flex-wrap: wrap;
  gap: 50px;
  justify-content: center;
}

#about-education-description {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 300px;
  gap: 10px;
  padding-bottom: 20px;
}

#about-education-description img {
  width: 75px;
  height: 75px;
  object-fit: contain;
}

#about-education-description h4 {
  text-align: center;
  font-family: "Noto Sans";
  font-size: 13px;
  font-weight: 500;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
}

#about-education-description-skills {
  border-top: 1px solid lightgray;
  padding-top: 10px;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  font-family: "Noto Sans";
  font-size: 14px;
  gap: 15px;
}

/* =================================================== */
/* =============== OPEN MENU (MOBILE) ================ */
/* =================================================== */

#open-mobile-menu {
  display: none;
  cursor: pointer;
}

.menu-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.menu-modal {
  text-transform: none;
  background: #fafafa;
  padding: 20px;
  position: relative;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Noto Sans";
}

.menu-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

.menu-close-btn:hover {
  color: black;
}

#mobile-menu {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
}

#mobile-menu a {
  font-family: "Noto Sans";
  color: #303030;
  font-weight: 600;
}

#mobile-menu a:hover {
  color: lightgrey;
}

#mobile_menu_contact_title {
  width: 60%;
  padding-top: 10px;
  border-top: 1px solid lightgray;
  text-align: center;
  font-family: "Noto Sans";
  color: #303030;
  font-weight: 900;
  margin-top: 0px;
  margin-bottom: 0px;
}

/* =================================================== */
/* ============= OPEN LANGUAGE (MOBILE) ============== */
/* =================================================== */

#open-language {
  display: none;
  cursor: pointer;
}

#language-icon {
  display: none;
  width: 30px;
  height: 30px;
  overflow: hidden;
  object-fit: contain;
/*  border:1px solid red;*/
  margin-right: 10px;
}

.language-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.language-modal {
  text-transform: none;
  background: #fafafa;
  padding: 20px;
/*  border-radius: 10px;*/
  position: relative;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Noto Sans";
}

.language-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

.language-close-btn:hover {
  color: black;
}

#item_language_menu {
  text-align: center;
  font-family: "Noto Sans";
  color: #303030;
  font-weight: 600;
}

.language-modal p {
  text-align: center;
  font-family: "Noto Sans";
  color: #303030;
  font-weight: 900;
}

#item_language_menu:hover {
  color: lightgrey;
}

/* =================================================== */
/* ================== OPEN CONTACTS ================== */
/* =================================================== */

#open_contact_box {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 20px;
}

.contact-overlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  background: rgba(0, 0, 0, 0.5);
  display: none;
  justify-content: center;
  align-items: center;
  z-index: 1000;
}

.contact-modal {
  text-transform: none;
  background: #fafafa;
  padding: 20px;
  position: relative;
  width: 300px;
  box-shadow: 0 0 10px rgba(0,0,0,0.3);
  display: flex;
  flex-direction: column;
  gap: 20px;
  font-family: "Noto Sans";
}

.contact-close-btn {
  position: absolute;
  top: 10px;
  right: 15px;
  font-size: 18px;
  font-weight: bold;
  color: #888;
  cursor: pointer;
}

.contact-close-btn:hover {
  color: black;
}

/* =================================================== */
/* ====================== FOOTER ===================== */
/* =================================================== */

footer {
  background-color: black;
  display: flex;
  color: #fafafa;
  text-align: center;
  justify-content: space-between;
  padding-top: 1px;
  padding-bottom: 1px;
  font-size: 12px;
  font-family: "Noto Sans";
  font-weight: 600;
  width: 100%;
}

footer p {
  padding-left: 10px;
}

#github_footer {
  display: flex;
  color: white;
  font-family: "Noto Sans";
}

#linkedin_footer {
  display: flex;
}

#network_footer {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  gap: 20px;
  padding-right: 30px;
}

#network_footer p:hover {
  color: lightgrey;
}

#network_footer a {
  display: flex;
  text-align: center;
  align-items: center;
  justify-content: center;
  color: #fafafa;
  cursor: pointer;
}

/* =================================================== */
/* ============= GITHUB & LINKEDIN ICONS ============= */
/* =================================================== */

.github-logo-black{
  color: black;
  width: 30px;
  height: 30px;
}

.fab.fa-linkedin {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fab.fa-linkedin:hover {
  color: lightgrey;
}

.fab.fa-github {
  padding: 0px;
  margin: 0px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}

.fab.fa-github:hover {
  color: lightgrey;
}

/* =================================================== */
/* ================= MOBILE VERSION ================== */
/* =================================================== */

@media only screen and (max-width: 1000px) {

  #open-mobile-menu {
    display: flex;
    cursor: pointer;
  }

  #open-language {
    display: flex;
    cursor: pointer;
  }

  #language-icon {
    display: flex;
  }

  header h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    width: 100%;
    margin-right: 40px;
    margin-left: 40px;
    padding-left: 0px;
  }

  header nav {
    display: none;
  }

  #menu-icon {
    display: grid;
  }

  h1 {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #presentation hr {
    display: none;
  }

  #presentation-content {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #presentation_text {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  #pres-img-std {
    display: none;
  }

  #pres-img-mobile {
    display: grid;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  #projects {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contacts {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
  }

  #contacts h2 {
    padding-bottom: 10px;
  }

  #contacts-display {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
  }

  #skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #skills-text {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 0%;
  }

  #hr-pp {
    width: 100%;
    height: 1px;
    background-color: lightgray;
    border: none;
    margin-left: 0;
  }

  #about-presentation {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    width:100%;
    text-align: center;
  }

  #about-experience {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #about-list-experience {
    gap: 0px;
  }

  #about-education {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  #about-list-education {
    gap: 0px;
  }

  #about-skills {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  footer {
    display: flex;
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }

  #network_footer {
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    gap: 0px;
  }
}